<?xml version="1.0" encoding="utf-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>nexus-server@public</id>
            <username>MvnRead</username>
            <password>reaDAct111</password>
        </server>
        <server>
            <id>nexus-server@public-snapshots</id>
            <username>MvnRead</username>
            <password>reaDAct111</password>
        </server>
        <server>
            <id>mirror-all</id>
            <username>MvnRead</username>
            <password>reaDAct111</password>
        </server>
    </servers>
    <mirrors>
        <mirror>
            <id>mirror-all</id>
            <mirrorOf>*</mirrorOf>
            <name>mirror</name>
            <url>http://mvn.cloud.alipay.com/nexus/content/groups/public</url>
        </mirror>
        <!--
		    <mirror>  
		      <id>central</id>  
		      <name>Human Readable Name for this Mirror.</name>  
		      <url>http://repo2.maven.org/maven2/</url>  
		      <mirrorOf>central</mirrorOf>  
		    </mirror>
        <mirror>
            <id>csii-repo</id>
            <mirrorOf>*</mirrorOf>
            <url>http://49.4.129.19:1280/repository/internal</url>
        </mirror>  
        -->
    </mirrors>
    <profiles>
    	
        <profile>
            <id>cloud</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
	            <repositories>
                <repository>
                    <id>nexus-server@public</id>
                    <url>http://mvn.cloud.alipay.com/nexus/content/repositories/releases</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>nexus-server@public-snapshots</id>
                    <url>http://mvn.cloud.alipay.com/nexus/content/repositories/snapshots</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>nexus-server@public</id>
                    <url>http://mvn.cloud.alipay.com/nexus/content/repositories/releases</url>
                    <snapshots>
                        <enabled>false</enabled>
                        <updatePolicy>never</updatePolicy>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
        
        <profile>
            <id>csii-repo</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
	            <repositories>
	            	<repository>
									<id>csii-repo</id>
									<url>http://49.4.129.19:1280/repository/internal/</url>
									<releases>
										<enabled>true</enabled>
									</releases>
									<snapshots>
										<enabled>false</enabled>
									</snapshots>
								</repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>csii-repo</id>
									<url>http://49.4.129.19:1280/repository/internal/</url>
                    <snapshots>
                        <enabled>false</enabled>
                        <updatePolicy>never</updatePolicy>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
</settings>
